@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>信息表</h1>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>身份证号</th>
            <th>年龄</th>
        </tr>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.StudentsName</td>
                <td>@student.IdCardNo</td>
                <td>@student.Age</td>
            </tr>
        }
    </table>
    <a class="btn btn-primary" href="/Home/ExportWord">导出</a>
</div>
